@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  width: 100%;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-slider-thumb {
  background: green; /* Color of the thumb */
}
